body{
    background-color: white;
}

.imagem-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.texto{
    align-content: center;
    margin: 9;
    color: black;
}

